*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./assets/images/bg-stars.svg);
    background-color: #160118;
}
header{
    width: 100vw;
    margin: auto;
    text-align: center;
}

p{
    font-size: 20px;
    padding: 10px 0;
}
h2{
    font-size: 100px;
}

.container{
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 100px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
}

.item{
    flex: 1;
}

.content-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer{
    background-image: url(./assets/images/pattern-hills.svg);
    width: 100vw;
    height: 100px;
}

.footer-container{
    display: flex;
    justify-content: center ;
}

.footer-container img{
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width: 768px){
    .container{
        padding: 0 10px;
    }
    h2{
        font-size: calc(8vh + 10px)
    }
    p{
        font-size: 18px;
    }
}

@media (max-width: 500px){
    .container{
        padding: 0 10px;
    }
    .content-box{
        justify-content: space-evenly;
    }
    h2{
        font-size: calc(6vh + 10px)
    }
    p{
        font-size: 12px;
    }
}